<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
``
<head th:replace="common/head::header(Thymeleaf_boar)">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="common/nav :: menu('home')" ></nav>
    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Thymeleaf-Board</h1>
            <p class="lead">Thymeleaf 를 이용한 게시판 만들기 <br><code class="small">Thymeleaf 란?<br></code> Thymeleaf's main goal is to bring elegant natural templates to your development workflow — HTML that can be correctly displayed in browsers and also work as static prototypes, allowing for stronger collaboration in development teams.</p>
            <br><br>
            <h1 class="mt-5">templates vs static</h1>
            <p> static 은 정적 파일로 url 로 접근이 가능하지만 templates 는 동적 파일로 url 로 접근이 불가능하다.</p>

        </div>

        <div th:replace="common/footer::copy"></div>
<!--        <div th:replace="footer::copy"></div>
            같은 위치에 파일이면 상관 없지만 아니라면 경로 위치도 적어줘야 한다.-->

    </main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>